<div class="container text-center">
  <h1 class="titulo">Gestor de productos</h1>
  <img src="../../assets/img/Logo.png"  id="logo"  height="200px" width="300px">
</div>
<div class="container">

  <button class="btn btn-warning bntMain" (click)="openDialog()"><mat-icon>add</mat-icon>
    Agregar Producto</button>


  <div class="row">

    <div class="search-hero ">
      <mat-icon class="icon"> search</mat-icon><input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Empezar a buscar un producto">

    </div>
    <table class=" table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre de producto</th>
        <th>Descripcion de producto</th>
        <th>Cantidad</th>
        <th>Precio</th>

        <th>Acción</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products | filter:searchText">
        <td>{{product.idProducto}}</td>
        <td>{{product.nombreProducto}}</td>
        <td>{{product.descripcionProducto}}</td>
        <td>{{product.cantidad}}</td>
        <td>{{product.precioProducto}}</td>
        <td><button type="button" (click)="openEditarDialog(product.idProducto)" class="btn btn-light">Editar</button>
        <button type="button" class="btn btn-danger btnDelete" ><mat-icon>delete</mat-icon></button></td>
      </tr>
      </tbody>

    </table>
  
  </div>
</div>
